<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Count page</title>
</head>
<body>
    <h1>This is the count page</h1>
    <a href="{% url 'home' %}">Count again!</a>
    <p>There were {{ data }} words in that sentence</p>
    <p>The sentence passed in was: "{{ original }}"</p>

    {% for word, count_total in dict %}
        <p>Word: "{{ word.capitalize }}" appears {{ count_total }} time(s)</p>
    {% endfor %}

</body>
</html>