<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the homepage template</h1>
    <p>The user who created this is {{ name }} and is currently learning Django</p>
    <h2>Word Counter</h2>
    <form action="{% url 'count' %}">
        <textarea cols="40" rows="5" name="fulltext"></textarea><br>
        <input type="submit" value="Count!" />
    </form>
</body>
</html>